/* .col-sm-3:hover {
    transform: scale(1.05);
    z-index: 1;
} */

.jumbotron {
    background-image: url(https://lh3.googleusercontent.com/proxy/PdDpF84eRHxlEFCVMz-Zn_R0ZCJGeDY3xX4tEZalhK4kK7CP374PprTfv-WhGkus2IrOcgRcpySkITxW2cjuf7R2);
}

body {
    background-image: url(https://drive.google.com/uc?id=19GRzthpA6K35TqIDavztPaH4n_hea45Z);
}