/* .col-sm-3:hover {
    transform: scale(1.05);
    z-index: 1;
} */

.jumbotron {
    background-image: url(https://image.freepik.com/free-photo/_26514-26.jpg);
}

body {
    background-image: url(https://w-dog.ru/wallpapers/15/13/559732270070079.jpg);
}