/* .col-sm-3:hover {
    transform: scale(1.05);
    z-index: 1;
} */

.jumbotron {
    background-image: url();
}

body {
    background-image: url(https://drive.google.com/uc?id=19GRzthpA6K35TqIDavztPaH4n_hea45Z);
}