.card-text{
    font-size: 30px;
}
.card-title{
    font-size: 40px;
}
.jumbotron{
    background-image: url(https://media.istockphoto.com/id/948623158/vector/seamless-innovation-and-scientific-data-background.jpg?s=612x612&w=0&k=20&c=IHOut6hIYjxiY5MZlu1gDd4_K886MhfVpfUQxYLr16E=);
}
body{
    background-image: url(https://drive.google.com/uc?id=16G7709mIS3yopZDVziRYMzhr50ov2tcb);
}
th{
    font-size: 40px;
}
td{
    font-size: 30px;
}
/*img{
    width: 50%;
    height: auto;
}
.carousel-item{
    width: 50%;
}*/
.col-sm-6{
    margin-bottom: 5%;
}