.grid {
  display: grid;
  grid-template-columns: 110px 110px 110px;
}

.grid>div {
  display: inline-block;
  margin: 5px;
}

.jumbotron {
  background-image: url(https://drive.google.com/uc?id=1avzAfeATepMpRzP-6oKMqXnuv5C-oV_X);
}

h3 {
  text-align: center;
  font-size: 40px;
}

p {
  text-align: center;
  font-size: 30px;
}

.card-deck>.card:hover {
  transform: scale(1.05);
  border: 4px solid #dc3545;
  z-index: 1;
  animation-name: video;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes video {
  0% {
    
    border: 8px solid rgb(168, 23, 43);
    
  }

  25% {
    border: 8px solid green;
  }

  50% {
    border: 8px solid yellow;
    border-radius: 10%;
  }

  75% {
    border: 8px solid brown;
  }

  100% {
    border: 8px solid blue;
  }
}




.card-group>.card {
  margin-right: 0px;
}

body {
  background-image: url(https://drive.google.com/uc?id=1AUojVAsyGcN5p27TadbCNAHXzN0YCL71);
}

.display-4 {
  text-align: center;
}

#type {
  width: 50%;
}

#reading {
  background-image: url(https://drive.google.com/uc?id=1zUI6DAu0TdCdLwSMsvk3vpxZe2fSC8VE)
}

#gaming {
  background-image: url(https://drive.google.com/uc?id=1cilNrxZgahHU5J1EPtyKvXsPnfNRM1xR)
}

#gaming>.card-body {
  color: white;
}

#coding {
  background-image: url(https://drive.google.com/uc?id=1ltyxLoDH0ikugXCwAd20fzcWs3wEYnre)
}

#coding>.card-body {
  color: white;
}

#coding>.card-body>.card-text {
  font-size: 32px;
}

#designing {
  background-image: url(img/design-bg2.jpg)
}

#music {
  background-image: url(https://drive.google.com/uc?id=1HwrIlgQuu7j9MUwX_YUzPOmRtb_hmGe7)
}

#music>.card-body {
  color: white;
}

#teaching {
  background-image: url(https://drive.google.com/uc?id=1admIBaz02Gi2IvfsEEqqaGq01z9zblmS)
}