.card:hover {
    transform: scale(1.05);
    z-index: 1;
    /*animation-name: video;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

/*@keyframes video {
    0% {
        border: 8px solid red;
    }

    25% {
        border: 8px solid green;
    }

    50% {
        border: 8px solid blue;
    }

    75% {
        border: 8px solid yellow;
    }

    100% {
        border: 8px solid white;
    }
}*/

.jumbotron {
    background-image: url(https://drive.google.com/uc?id=1zhF0_1I7inDxPtJJGo1lIQ0Zz-Lzl_9x)
}

body {
    background-image: url(https://drive.google.com/uc?id=1eRNmP1yKzl4jJsqz1YND1TPgnKz27cmg)
}