body {
    background-image: url(https://drive.google.com/uc?id=1q8HR96s9s89MtjbOSeUoKr-WPzaKbYWY)
}

.jumbotron {
    background-image: url(https://drive.google.com/uc?id=1zUI6DAu0TdCdLwSMsvk3vpxZe2fSC8VE)
}

.card-deck>.card>.card-body>h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

p {
    font-size: 20px;
}

.card-text {
    height: auto;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}