body{
    background-image: url(https://drive.google.com/uc?id=1ltyxLoDH0ikugXCwAd20fzcWs3wEYnre);
}
.jumbotron{
    background-image: url(https://drive.google.com/uc?id=1sBW3BpjoH-zKda-Vo9aMwmApavdpqzsc);
}
.card:hover{
    border: 4px solid orange;
    transform: scale(1.05);
    z-index: 1;
    animation-name  : video;
    animation-duration:2.5s;
    animation-iteration-count: infinite;
}

@keyframes video{
    0% { border: 4px solid red;}
    25% { border: 4px solid green;}
    50% { border: 4px solid yellow;}
    75% {border: 4px solid violet};
    100% { border: 4px solid blue;}
}

.card-deck > .card > .card-body > h1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.row > .col-sm-4 > .card > .card-body > h1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
p{
    font-size: 25px;
}

