.jumbotron {
    background-image: url(Images/site-assets/experience-banner.jpg);
    background-size: cover;
}

body {
    background-image: url(Images/site-assets/experience-background.jpg);
}

#FC {
    background-image: url(Images/download.jpg);
    background-size: cover;
}

p {
    font-size: 25px;
}

#CK {
    background: linear-gradient(118deg, #205dee, #22b7ef);
    background-size: cover;
}

#madhyam{
    background-image: linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)), url(Images/site-assets/acasa-project.png);
    background-size: cover;
}

@media (min-width: 900px)  {
    #FCimg{
        width: 30%;
    }
    #CKimg{
        width: 30%;
    }
}

@media (max-width: 900px) {
    #FCimg{
        width: 50%;
    }
    #CKimg{
        width: 50%;
    }
}
