.jumbotron {
    background-image: url(https://cdn.shopify.com/s/files/1/2443/0381/products/allenjoy-professional-background-3d-diamond-black-backdrop-for-portrait-party-yanyang-0347-4475190837293.jpg?v=1607355381);
}

body {
    background-image: url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg);
}

#FC {
    background-image: url(https://drive.google.com/uc?id=1EKJzwHTyeq0pEGVy1B1PIE2iug2bQftE);
    background-size: cover;
}

p {
    font-size: 25px;
}

#CK {
    background: linear-gradient(118deg, #205dee, #22b7ef);
    background-size: cover;
}

@media (min-width: 900px)  {
    #FCimg{
        width: 30%;
    }
    #CKimg{
        width: 30%;
    }
}

@media (max-width: 900px) {
    #FCimg{
        width: 50%;
    }
    #CKimg{
        width: 50%;
    }
}